html, body{
    min-height: 100vh;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(0deg, #626868, #1f1f1f);
    background-image: url("Media/gallery-pic-10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main{
    border-left: 2px ridge #172049;
    border-right: 2px ridge #172049;
    min-height: 100vh;
    margin: 0px auto;
    width: 100%;
    padding: 0px;
    background: linear-gradient(90deg, rgba(84, 90, 92, 0.5), rgba(130, 139, 146, 0.5), rgba(84, 90, 92, 0.5));
}

.top{
    padding: 0px;
}

.header{
    border-bottom: 2px ridge #ffffff;
    border-image: linear-gradient(to right, #2a3342, #8c8d8f, #2a3342);
    border-image-slice: 1;
    background: rgb(100, 110, 107);
    display: flex;
}

.header > *{
    text-transform: uppercase;
}

.navigation{
    margin: auto;
}

.navmain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}

.navbar{
    padding: 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.829);
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255, 251, 0, 0.486);
}

.navbar-dark .navbar-nav .nav-link:active{
    color: rgb(255, 251, 0);
}

.login > .btn{
    margin: 0px 20px;
}

.dropdown-menu{
    background: linear-gradient(90deg, rgb(84, 90, 92), rgb(130, 139, 146));
}
.dropdown-item{
    color: white;
    font-size: 120%;
}
.dropdown-item:hover{
    background: linear-gradient(90deg, rgb(71, 75, 97), rgb(33, 67, 94));
    color:white;
}

.content{
    padding: 1vw;
    display: flex;
    padding-bottom: 5vw;
    justify-content: space-evenly;
}

.home{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.greeting{
    border: 0.3vw inset silver;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-radius: 5vw;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
}
.greeting .btn{
    margin: auto 3vw;
}

.pageLabel{
    background-color: rgba(0, 0, 0, 0.26);
    color: whitesmoke;
    border-radius: 5vw;
    border-bottom:0.5vw ridge rgb(0, 6, 97);
    width: 90%;
    margin: 1vw auto;
    font-size: 3.5vw;
    text-align: center;
}

.news{
    flex-direction: column;
    padding: 0vw;
}
.mainNewsBlock{
    margin: 1vw;
}
.newsBlock{
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.534);
    color: whitesmoke;
    border: 0.3vw outset silver;
    margin: 0vw;
    margin-bottom: 0vw;
    display: flex;
    position: relative;
}
.imager{
    display: flex;
    justify-items: center;
}
.news-pic{
    width: 100%;
}
.newsTopic{
    color: white;
    font-size: 3vw;
}
.newsText{
    font-size: 1.5vw;
    color:rgb(224, 224, 224);
    line-height: 1.5vw;
}
.forReadmore{
    width:100%;
    display: flex;
}
.dateOfNews{
    font-size: 3vw;
    color:rgb(148, 225, 255);
}
.readmore{
    font-size: 1.5vw;
    margin: 1vw;
}
.newsAdded{
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    font-size: 1.2vw;
    border-top-left-radius: 0vw;
    border-top-right-radius: 0vw;
}

.advantage{
    width: 100%;
    background-color: rgba(51, 51, 51, 0.514);
    color:snow;
    width: 95%;
    margin: 2vw auto 0vw;
}

.right-corner-aligned{
    position: absolute;
    top: 1vw;
    right: 2vw;
    height: 3vw;
}

.merch .card{
    background-color: rgba(255, 255, 255, 0.411);
    margin: 1vw;
    text-align: justify;
}
.merchCardsBlock{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.googleMapsIntegration{
    margin: 2vw auto;
    display: flex;
    justify-content: space-evenly;
}

footer{
    display: flex;
    text-align: center;
    background: rgba(73, 83, 99, 0.815);
    color: rgb(255, 255, 255);
    font-size: 1.8vw;
    margin: auto;
    padding-bottom: 1vh;
}
.socmediaIcons img{
    height: 2.5vw;
    width: auto;
    margin-left: 3%;
}

.gallery, .home, .news{
    margin: 1vw auto;
    display:none;
}

@media screen and (min-width:1000px){
    footer{
        font-size: 2vh;
    }
    .socmediaIcons img{
        height: 3vh;
        margin-left: 5%;
    }
}
@media screen and (min-device-width:20px) {
    body .container{
        width: 100%;
        margin: 0vw auto;
    }
}
