html, body{
    height: 100%;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(0deg, #626868, #1f1f1f);
    /* background-image: url("Media/darknight.jpg"); */
}

.main{
    border-left: 2px ridge #172049;
    border-right: 2px ridge #172049;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    background: linear-gradient(90deg, rgb(84, 90, 92), rgb(130, 139, 146), rgb(84, 90, 92));
}

.top{
    padding: 0px;
}

/* .mybutton{
    background: rgba(0, 0, 0, 0);
    border: 0px;
    border-left : 2px ridge gray;
    border-right : 2px ridge gray;
    height: 100%;
    width: 18%;
    color:rgb(212, 206, 206);
    text-transform: uppercase;
}

.space{
    width: 4.5%;
} */

.header{
    border-bottom: 2px ridge #ffffff;
    border-image: linear-gradient(to right, #2a3342, #8c8d8f, #2a3342);
    border-image-slice: 1;
    background: rgb(100, 110, 107);
    display: flex;
}

.header > *{
    text-transform: uppercase;
}

.navigation{
    margin: auto;
}

.navmain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 120%;
}

.navbar{
    padding: 0px;
}

.name{
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    font-size: 100%;
    margin: 0px;
}

.active{
    color: rgb(201, 201, 114);
}

.login > .btn{
    margin: 0px 20px;
}

.dropdown-menu{
    background: linear-gradient(90deg, rgb(84, 90, 92), rgb(130, 139, 146));
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background: linear-gradient(90deg, rgb(71, 75, 97), rgb(33, 67, 94));
    color:white;
}